{% extends 'StadlineFrontBundle::layout.html.twig' %}

{% block title %}Stadline - Edit Contact{% endblock %}

{% block header_title %}Edit Contact{% endblock %}

{% block content %}

    <div id="back">
        <a href="{{ path('contact') }}">Back to the contact list</a>
    </div>

    <div id="formEdit">
        {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form(edit_form) }}

        {% form_theme delete_form 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form(delete_form) }}
    </div>
{% endblock %}
