{% extends 'StadlineFrontBundle::layout.html.twig' %}

{% block content %}
    <div id="factures">
        <a href="http://lundimatin.local/app_dev.php/factures/{{ hash_ref }}">Voir mes factures</a>
    </div>
    <div>
        <a href="https://{{ zendesk_domain }}.zendesk.com/hc/fr/requests">Voir mes demandes</a>
    </div>
    {#<p id="text"></p>#}
    {#<p id="response" style="display:none;"><span style="float: left; margin-right: 10px;">Response:</span><textarea id="response_area" style="width: 500px; height:200px;"></textarea></p>#}

    {#<form action="https://{{ zendesk_domain }}.zendesk.com/oauth/authorizations/new" id="authorize" method="GET">#}
        {#<input type="hidden" name="client_id" value="extraclub" />#}
        {#<input type="hidden" name="response_type" value="token" />#}
        {#<input type="hidden" name="redirect_uri" value="https://{{ zendesk_domain }}.zendesk.com/hc/fr/requests" />#}
        {#&#123;&#35;<input type="hidden" name="redirect_uri" value="http://127.0.0.1:8000/widget/bea43888d3/links" />&#35;&#125;#}
        {#<input type="hidden" name="scope" value="read write" />#}

        {#<input type="submit" value="Voir mes demandes" />#}
    {#</form>#}
{% endblock content %}

