Hello {{ client_id }}!

<a href="https://extraclub.zendesk.com/oauth/authorizations/new?response_type=code&redirect_uri=http://lundimatin.local/app_dev.php/widget/1/links&client_id={{ client_id }}&scope=read">Lien Zendesk</a>